#!/bin/bash

MY_DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"

export GOPATH=${MY_DIR}/upgrade-pipeline:${MY_DIR}/upgrade-pipeline/src/github.com/cloudfoundry/cf-acceptance-tests/Godeps/_workspace/
export PATH=${MY_DIR}/upgrade-pipeline/bin:$PATH
