[submodule "upgrade-pipeline/src/github.com/cloudfoundry/cf-acceptance-tests"]
	path = upgrade-pipeline/src/github.com/cloudfoundry/cf-acceptance-tests
	url = git@github.com:cloudfoundry/cf-acceptance-tests.git
